// _variables.scss

$text-color: #5E607A;
$heading-color: #00001A;
$new-heading-color:#E9AA52;
$feature-white:#FFFDFA;
$silver:#C5C6CE;
$divider-color:#5E607A;
$dark-bg:#00001A;
$button-color:#F15D51;

